
#game-title {
    /* line-height: 0.95em;
    letter-spacing: -0.125em; */
    font-family: 'Faster One', cursive;
}

#instruction {
    font-weight: 200;
    font-size: 30px;
    /* width: 75%; */
    font-family: 'Cute Font', cursive;
    color: white;
    background-color: rgba(170, 184, 194);
    
}

html {
    font-size: 18px;
    /* background-image: url(../images/Attachment-1.png); */
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Stylish", sans-serif;
    color: 3d405b;
    /* text-align: 0 auto; */
  }

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: blanchedalmond;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#subcontainer {
    font-weight: 200;
    font-size: 15px;
    /* width: 75%; */
    /* font-family: 'Cute Font', cursive; */
    color: white;
    background-color:  rgba(29, 161, 242);
    padding:.25em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 2.8em;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
}

h3 {
    font-size: 30px;
    font-family: 'Cute Font', cursive;
}

h4 {
    font-size: 20px;
    font-family: 'Cute Font', cursive;
}

h5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.8em;
    color: red;
}

.boxSet {
    padding: 1.25em;
    /* background-color: rgba(84, 164, 203, 80%); */
    text-align: center;
    margin: auto;
}
.midBox {
    display: flex;
    flex-direction: column;
}

p {
    /* font-weight: 600; */
    /* line-height: 20px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.button1{
    background-color: rgba(101, 119, 134);
    padding: 1.5em;
    font-family: 'Cute Font', cursive;
    font-size:1.5em;
    position:relative;
    transition: .5s ease;
    /* top: 50%;
    left: 43%;   */
    border-color: black;
    margin-top: 1em;
    margin-bottom: 1em;
}

.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button2 {
    width: 50%;
    margin:.1em;
    font-size:1.1em;
    background-color: rgba(225, 232, 237);
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    border-color: black;
    position:relative;
    transition: .5s ease;
    /* top: 50%; */
    /* left: 45%;   */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button2:hover {
    background-color:  rgba(170, 184, 194);
}

.button2:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    /* transform: translateY(4px); */
}

.col-12 {width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#footer {
    position: relative;
    bottom: 0px;
    /* background: #666666; */
    height: 70px;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    color:black;
    /* border-top: 2px solid #4aaaa5; */
}